.reveal section img { 
	background:none; 
	border:none; 
	box-shadow:none; 
}
.reveal { 
	font-family:serif; 
}
.reveal .important {
	color:#ff6699;
	font-size:120%;
}
.reveal .fixed-fragment {
	position:absolute;
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0;
}
.reveal .para_title {
	font-size:120%;
} 
.reveal .para_left {
	text-align: left;
} 
.reveal .para_small {
	font-size:80%;
} 